extends template-en
block headerText
    h1.responseTitle The term of your HORONDI Certificate is expiring
block subheaderText
    h1.desktopTitle The term of your HORONDI Certificate is expiring
block content
    div.contentWrapper
            p.text Greetings! #[br] Hurry up to use your gift certificate HORONDI №#[strong !{item.name}] for !{item.value} UAH. because its expiration date is coming up.
                div.continerImg
                    div.shadow
                        img.certificate(src=`https://horondi.blob.core.windows.net/horondi/images/certificate-${item.value}.png`)
            p.listHeader #[strong Pay attention!]
            ol.bestWishes
                li The gift certificate provides #[strong a discount on any Horondi product.]
                li If the purchase price exceeds the avaliable balance of the girt certificate, #[strong the difference can be paid in a convenient way.]
                li The gift certificate is #[strong non-refundable or exchangeable] for the corresponding cash equivalent.
                li The certificate is valid for 365 days from the date of purchase - #[strong !{dateEnd}] (expiration date of your certificate). 
            a.continue(href=frontendUrl + `/my-certificates/`) view my certificates
