extends template-ua
block styles 
    link(rel="stylesheet", href="css/confirm-email.css")
block subheaderText
    p.registrationText У Вас є незавершені покупки
block content
    div.contentRegistrationText
        div.productTableContent
            table.productTable
                //- caption= `До сплати: ${totalPrice[0].value}  ${totalPrice[0].currency}`
                tr.tableHead
                    th Фото
                    th Назва
                    th Кількість
                    th Ціна
                //- each val in items
                    if val.product
                        tr.tableBody
                            td
                                img.tableImg(src= `${imagesUrl}${val.product.images.primary.large}`)
                            td 
                                p= val.product.name[0].value
                                p= `Розмір - ${val.options.size.name}`
                            td= val.quantity
                            td= `${val.price[0].value} ${val.price[0].currency}`
                    else if val.fromConstructor
                        tr.tableBody
                            td
                                img.tableImg(src= `${imagesUrl}large_21r21sdeokmxcw0i8_Rolltop_blue.png`)
                            td 
                                p= val.fromConstructor.product.name[0].value
                                p= `Розмір - ${val.options.size.name}`
                            td= val.quantity
                            td= `${val.price[0].value} ${val.price[0].currency}`
            
            p.congrats Завершіть будь ласка свої покупки
            button.confirm
                a(href=`${frontendUrl}/cart`) ЗАВЕРШИТИ ПОКУПКИ
            p.operationsLink або перейдіть за посиланням нижче:
            a.aoperationsLink(href= `${frontendUrl}/cart`) #{`${frontendUrl}/cart`}