extends template-en
block subheaderText
    p.paymentText Order payment
block content
    div.contentPaymentText
        div.productTableContent
            p.congrats Congratulations! #[br] You are only one step back from receiving your order: #[br]
            table.productTable
                caption= `До сплати: ${totalPrice}`
                tr.tableHead
                    th Photo
                    th Name
                    th Quantity
                    th Price
                each val in items
                    if val.product
                        tr.tableBody
                            td
                                img.tableImg(src= `${imagesUrl}${val.product.images.primary.large}`)
                            td
                                p= val.product.name[0].value
                                p= `Size - ${val.options.size.name}`
                            td= val.quantity
                            td= `${val.fixedPrice}`
                    else if val.fromConstructor
                        tr.tableBody
                            td
                                img.tableImg(src= `${imagesUrl}large_21r21sdeokmxcw0i8_Rolltop_blue.png`)
                            td
                                p= val.fromConstructor.product.name[0].value
                                p= `Size - ${val.options.size.name}`
                            td= val.quantity
                            td= `${val.fixedPrice}`
        button.confirm
            a(href=paymentUrl) Pay for the order
        p.operationsLink or follow the link below:
        a.aoperationsLink(href=paymentUrl) #{paymentUrl}
