extends template-ua
block headerText
    h1.responseTitle Ваше замовлення успішно оформлено
block subheaderText
    h1.desktopTitle Ваше замовлення успішно оформлено
block content
    div.contentWrapper
        table.productTable
            tr.tableHead
                th.image 
                th.product Продукт
                th.size Розмір
                th.quantity Кількість
                th.price Ціна
                th.status Статус
            each val in items
                tr.tableBody
                    td.image
                        if !val.isFromConstructor
                            img.productImg(src=`${imagesUrl}${val.product.images.primary.small}` alt='img')
                        else 
                            p= 'Constructor image'
                    td.product
                        p.productTitle= `${val.product.name[0].value}`
                        p.productMaterial= `Матеріал низу: ${val.product.bottomMaterial.name[0].value}`
                    td.size
                        p.productSize= `${val.options.size.name}`
                    td.quantity
                        p.productQuantity= `${val.quantity}`
                    td.price
                        p.productPrice= `${Math.floor(val.fixedPrice * fixedExchangeRate)} UAH`
                    td.status
                        p.productStatus= `${paymentStatus === 'PAID' ? 'Оплачено' : 'Створено'}`
        div.payment
            span.paymentText До оплати:
            span.paymentPrice= `${Math.floor(totalPriceToPay * fixedExchangeRate)} UAH`
        p.text Дякую що Ви завжди з нами!
        a.continue(href=`${frontendUrl}/catalog/products?sort=popularity`) продовжити покупки
