extends template-en
block headerText
    h1.responseTitle Your order has been successfully processed
block subheaderText
    h1.desktopTitle Your order has been successfully processed
block content
    div.contentWrapper
        table.productTable
            tr.tableHead
                th.image 
                th.product Product
                th.size Size
                th.quantity Quantity
                th.price Price
                th.status Status
            each val in items
                tr.tableBody
                    td.image
                        if !val.isFromConstructor
                            img.productImg(src=`${imagesUrl}${val.product.images.primary.small}` alt='img')
                        else 
                            p= 'Constructor image'
                    td.product
                        p.productTitle= `${val.product.name[1].value}`
                        p.productMaterial= `bottom: ${val.product.bottomMaterial.name[1].value}`
                    td.size
                        p.productSize= `${val.options.size.name}`
                    td.quantity
                        p.productQuantity= `${val.quantity}`
                    td.price
                        p.productPrice= `${val.fixedPrice} USD`
                    td.status
                        p.productStatus= `${paymentStatus === 'PAID' ? 'Paid' : 'Created'}`
        div.payment
            span.paymentText Total:
            span.paymentPrice= `${Math.floor(totalPriceToPay)} USD`
        p.text Thank you for always being with us!
        a.continue(href=`${frontendUrl}/catalog/products?sort=popularity`) continue shopping
