extends template-en
block headerText
    h1.responseTitle Your order has been successfully processed
block subheaderText
    h1.desktopTitle Your order has been successfully processed
block content
    div.contentWrapper
        table.productTable
            tr.tableHead
                th.product Product
                th.size Size
                th.price Price
                th.quantity Quantity
                th.total Total
            each val in items
                if val.product
                    tr.tableBody
                        td.product
                            div.productWrapper
                                img.productImg(src= `${imagesUrl}/${val.product.images.primary.medium}` alt='img')
                                div.productInfo
                                    p.productTitle= val.product.name[1].value
                                    p.productMaterial= val.product.bottomMaterial.material.name[1].value
                                    p.productSizeResponsive= `Size - ${val.options.size.name}`
                        td.size
                            p.productSize= `${val.options.size.name}`
                        td.price
                            p.productPrice= `${val.fixedPrice[1].currency}${val.fixedPrice[1].value}}`
                        td.quantity
                            p.productQuantity= val.quantity
                        td.total
                            p.productTotal= `${val.fixedPrice[1].currency}${val.fixedPrice[1].value * val.quantity}`
                else if val.fromConstructor
                    tr.tableBody
                        td.product
                            div.productWrapper
                                img.productImg(src= `${imagesUrl}/${val.fromConstructor.product.images.primary.medium}` alt='img')
                                div.productInfo
                                    p.productTitle= val.fromConstructor.product.name[1].value
                                    p.productMaterial= val.fromConstructor.product.bottomMaterial.material.name[1].value
                                    p.productSizeResponsive= `Size - ${val.options.size.name}`
                        td.size
                            p.productSize= `${val.options.size.name}`
                        td.price
                            p.productPrice= `${val.fixedPrice[1].currency}${val.fixedPrice[1].value}}`
                        td.quantity
                            p.productQuantity= val.quantity
                        td.total
                            p.productTotal= `${val.fixedPrice[1].currency}${val.fixedPrice[1].value * val.quantity}`
        div.payment
            span.paymentText Total
            span.paymentPrice= `${totalPriceToPay[1].currency}${totalPriceToPay[1].value}`
        p.text Thank you for always being with us!
        button.continue
            a(href=`${frontendUrl}/catalog/products?sort=popularity`) continue shopping




